################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/msiwei.github.io/config/applicationhost.config
/.vs/slnx.sqlite
